<form>
    <div class="form-group">
        <label for="widget-name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="widget-name"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="widget-text">Text</label>
        <input ng-model="model.widget.text"
               type="text"
               class="form-control"
               id="widget-text"
               placeholder="text">
    </div>
    <div class="form-group">
        <label for="widget-rows">Rows</label>
        <input ng-model="model.widget.rows"
               type="text"
               class="form-control"
               id="widget-rows"
               placeholder="Name">
    </div>
    <div class="form-group">
        <label for="widget-placeholder">Rows</label>
        <input ng-model="model.widget.placeholder"
               type="text"
               class="form-control"
               id="widget-placeholder"
               placeholder="Name">
    </div>
    <div class="input-group form-group">
        <input ng-model="model.widget.formatted"
               type="text"
               class="form-control"
               id="widget-formatted"
               placeholder="Formatted"
               value="Formatted">
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Indent">
            <span class="glyphicon glyphicon-unchecked"></span>
        </button>
        </span>
    </div>

</form>