<form>
    <div class="form-group">
        <label for="widget-html">Text</label>
        <textarea ng-model="model.widget.text"
                  rows="4"
                  type="text"
                  class="form-control"
                  id="widget-html"
                  placeholder="HTML Here"></textarea>
    </div>
    <div class="form-group">
        <label for="html-keywords">Title</label>
        <input ng-model="model.widget.keywords"
               type="text"
               class="form-control"
               id="html-keywords"
               placeholder="key words">
    </div>
</form>